nav#top{
    background-color: black;
    color: white;
    
}
nav div{
    width: 80%;
    margin: auto;
    background-color: black;
}
#top div ul{
    list-style-type: none;

}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    color: white;
}
nav ul li a:hover{
    background-color: white;
    color: black;
}

#top #flrit{
    float: right;
}